{% extends "base.html"%}


{% block content %}
<div class="row">

<div class="col-sm-8">
  <h2>Products</h2>
  <h3>{{object.title}}</h3>
  {% if object.productimage_set.count > 0 %}

    <div>
    {% for img in object.productimage_set.all %}
    {{img.image.file}}
    {{img.image.url}}
    <img class='img-responsive' src='{{ img.image.url }}' />

    {% endfor %}

    </div>

    {% endif %}
  <p>{{object.description}}</p>
</div>

<!-- Product Side Bar -->
<div class="col-sm-4">
  <p>{{object.price}}</p>
  {% if object.variation_set.count > 1 %}
  <select class="" name="">
    {% for vari_choice in object.variation_set.all %}
        <option value="{{vari_choice.id}}">{{ vari_choice }}</option>
      {% endfor %}
  </select>
  {% else %}
  <a href="#"><button type="button" class="btn btn-success" name="button">Add to Cart</button></a>
  {% endif %}
  <hr>
  <h4>Related Products</h4>
</div>
<!--End Product Side Bar -->


</div>
{% endblock content %}
