{% extends "base.html" %}

<script type="text/javascript">

{% block JQuery %}
$("#item-qty").change(function(){
  //event.preventDefault()
  var item = $("#item-qty").val();
  var qty = $(this).val()
  var data = {
    "item":item,
    "qty":qty,

  }
  console.log(data)

  //TODO Add AJAX call for form
  $.ajax({
    type: "GET",
    url: {% url 'cart' %},
    data: data,
    success: function(data){
      $("#Jquery-message").text("Added " + data.created + "Deleted " + data.deleted).show()
      console.log(data)
    },
    error:function(response,error){
      console.log(response)
      console.log(error)
      $("#add-form").submit()
    }
  });
});

{% endblock JQuery %}
</script>


{% block content %}

<table class = "table">
{{object}}
{% for item in object.cartitem_set.all %}

<tr>
<form action= "." method = "GET">
  <td>{{ item.item.get_title }}</td>
  <input type='hidden' name='item' value='{{ item.item.id }}' />
  <td><input id = "item-qty" type="number" name="qty" value="{{ item.quantity }}"><input type='submit' class='btn-update btn btn-link' value='Update item'/></td>

  <td>{{ item.line_item_total}}</td>
  <td class="text-right"><a href="{{item.remove}}">{{item.remove}}</a></td>
</form>
</tr>

{% endfor %}

<tr>
<td colspan='4' class='text-right'>Subtotal: {{ object.subtotal }}</td>

</tr>

</table>
{% endblock %}
